<a href="https://colab.research.google.com/github/Impossiblepretext/Experiment_No.10/blob/main/Experiment_No_10__Create_And_Load_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Experiment 10 : Create Dataset and Load Datasheet

# Name - Vibhas Shukla
# PRN - 25070123164
# Branch - F.Y. E&TC (2025-29)
# Batch - A1
# Subject - Exploratory Data Analysis With Python

In [ ]:
# Importing the Pandas
import pandas as pd

# Creating a dataset for us
data = {
    "Fruits" : ["Apple", "Banana", "Mango", "Grapes"],
    "Taste" : ["Sweet", "Sweet", "Sour", "Sour"],
    "Color" : ["Red", "Yellow", "Orange", "Green"],
    "Price" : [100, 60, 500, 140]
}
df = pd.DataFrame(data) # Making the dataframe form the dataset
print(df)

df.to_csv("Fruits.csv",index=False)
df.to_excel("Fruits.xlsx",index=False)

# Shape of the dataset
Shape = df.shape
print("The Shape of the data is (Rows, Column) = ",Shape)

# Getting more infomation about the dataset
Info = df.info()
print(Info_Data)

First_Five_Rows = df.head()
Last_Five_Rows = df.tail()

   Fruits  Taste   Color  Price
0   Apple  Sweet     Red    100
1  Banana  Sweet  Yellow     60
2   Mango   Sour  Orange    500
3  Grapes   Sour   Green    140
The Shape of the data is (Rows, Column) =  (4, 4)

In [ ]:
# Problem :
# 1. Access the information column Fruits
# 2. Access the information of Fruit Grapes
# 3. Find out the data types of each column
# 4. Find the minimum and maximum value in a specific column


# Solution 1:
Fruit_Names= df["Fruits"]
print(Fruit_Names)

# Solution 2:
Info_Grapes = df.loc[3]
print(Info_Grapes)

# Solution 3:
Data_Types = df.dtypes
print("The data types of each columns are : \n",Data_Types)

Info_Data = df.info()

# Adding new column
df["Quantity"] = [10, 20, 30, 40]

df.drop("Price",axis=1,inplace=False)

print(df)

# Solution 4:
Min_Price = df["Quantity"].min()
Max_Price = df["Quantity"].max()

print("Cheapest Fruit's Price : ",Min_Price)
print("Price Of Most Expensive Fruits: ",Max_Price)

Fruits      Apple
Taste       Sweet
Color         Red
Price         100
Quantity       10
Name: 0, dtype: object

In [ ]:
# Analysing The Given Dataset
import pandas as pd # Importing the Pandas Module
import numpy as np # Importing the NumPy Module
df = pd.read_csv("/content/Cars93.csv") # The data of file by giving it path

# For getting the size(No. of elements) in dataset
Size_Data = df.size
print("Total Number Of Elements : ",Size_Data)

# For getting the shape of the data set in format of (Rows,Columns)
Shape_Data = df.shape
print("The Shape of teh data (Rows,Columns) = ",Shape_Data)

# Getting more infomation about the dataset
Info_Data = df.info()
print(Info_Data)

# Getting first and last 5 rows of the given dataset
First_Five_Rows = df.head()
Last_Five_Rows = df.tail()

print("First five rows : \n",First_Five_Rows) # Printing first 5 rows
print("Columns five rows : \n",Last_Five_Rows) # Printing the last 5 rows

Total Number Of Elements :  930
The Shape of teh data (Rows,Columns) =  (93, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Manufacturer    93 non-null     object
 1   Model           93 non-null     object
 2   Type            93 non-null     object
 3   Price           93 non-null     float64
 4   MPG.city        93 non-null     int64
 5   AirBags         59 non-null     object
 6   Horsepower      93 non-null     int64
 7   Passengers      93 non-null     int64
 8   Rear.seat.room  91 non-null     float64
 9   Luggage.room    82 non-null     float64
dtypes: float64(3), int64(3), object(4)
memory usage: 7.4+ KB
None
First five rows :
   Manufacturer    Model     Type  Price  MPG.city             AirBags  \
0        Acura  Integra    Small   15.9        25                 NaN
1        Acura   Legend  Midsize   33.9        18  Driver & Passenger
2         Audi       90  Compact   29.1        20         Driver only
3         Audi      100  Midsize   37.7        19  Driver & Passenger
4          BMW     535i  Midsize   30.0        22         Driver only

   Horsepower  Passengers  Rear.seat.room  Luggage.room
0         140           5            26.5          11.0
1         200           5            30.0          15.0
2         172           5            28.0          14.0
3         172           6            31.0          17.0
4         208           4            27.0          13.0
Columns five rows :
    Manufacturer    Model     Type  Price  MPG.city             AirBags  \
88   Volkswagen  Eurovan      Van   19.7        17                 NaN
89   Volkswagen   Passat  Compact   20.0        21                 NaN
90   Volkswagen  Corrado   Sporty   23.3        18                 NaN
91        Volvo      240  Compact   22.7        21         Driver only
92        Volvo      850  Midsize   26.7        20  Driver & Passenger

    Horsepower  Passengers  Rear.seat.room  Luggage.room
88         109           7            34.0           NaN
89         134           5            31.5          14.0
90         178           4            26.0          15.0
91         114           5            29.5          14.0
92         168           5            30.0          15.0